<% layout('boilerplate') -%>

<h1>Brackets</h1>
<div class="full-bracket">
	<div class="double-bracket">
		<div class="single-bracket high">
			<div>
				<div class="button 1-1">
					1
				</div>
			</div>
			<div class="seperator"></div>
			<div class="bottom">
				<div class="button 1-2">
					4
				</div>
			</div>
		</div>
		<div class="single-bracket low">
			<div class="top">
				<div class="button 2-1">
					2
				</div>
			</div>
			<div class="seperator"></div>
			<div class="">
				<div class="button 2-2">
					3
				</div>
			</div>
		</div>
	</div>
	<div class="single-bracket mid">
		<div class="top">
			<div class="button 3-1">
				
			</div>
		</div>
		<div class="seperator"></div>
		<div class="bottom">
			<div class="button 3-2">
				
			</div>
		</div>
	</div>
</div>