<% layout('boilerplate') -%>

<h1>Brackets</h1>
<form>
  Seeds: <input type="text" name="seeds">
  <input type="submit" value="Submit">
</form>
<div id="full-bracket">
	<div class="left">

	</div><!-- left -->
</div>
