<% layout('boilerplate') -%>

<h1>Brackets</h1>

<div class="single-bracket">
	<div class="top">
		Top
	</div>
	<div class="seperator"></div>
	<div class="bottom">
		Bottom
	</div>
</div>
<div class="single-bracket">
	<div class="top">
		Top
	</div>
	<div class="seperator"></div>
	<div class="bottom">
		Bottom
	</div>
</div>