div{
	display:block;
	line-height: 1em;
}
ul{
	list-style: none;
}
li {
	display: block;
	margin:.5em 0;
	width: 25px;
}
li:nth-child(even){
	border-top: 1px solid #666;
}
.left .double-bracket{
	float:left;
}
.left .mid{
	float: left;
}
.left .champ{
	float: left;
}
.right{
	text-align: right;
}
.right .double-bracket{
	float:right;
}
.right .mid{
	float: right;
}
.right .champ{
	float: right;
}
.single-bracket{
	width:10em;
	height: 65px;
	color: #333;
	/*margin: 1em 0;*/
}
.single-bracket div{
	padding:.2em 0;
}
.single-bracket div:hover{
	color:#84119e;
}
.button{
	cursor: pointer;
}
div.seperator{
	width:100%;
	padding:0;
	margin:0;
	height:1px;
	background: #666;
	border:none;
}
.left .single-bracket.high div.bottom {
	border-right: 1px solid #666;
}
.left .single-bracket.low div.top {
	border-right: 1px solid #666;
}
.right .single-bracket.high div.bottom {
	border-left: 1px solid #666;
}
.right .single-bracket.low div.top {
	border-left: 1px solid #666;
}
.mid .top{
	padding:25% 0 .2em .5em;
}
.mid .bottom{
	padding: .2em 0 25% .5em;
}
.champ{
	margin: 9% 0 0 1em;
	padding: 1em;
	line-height: 1em;
	height: 1em;
	width: 6em;

	border: 1px solid #666;
	text-align: center;

}